.invoce-editor-container {
    padding: 30px;
}
.invoice-editor-general-info {
    display: flex;
    /* width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end; */
}
.right {
    margin-left:auto;
}
.invoice-editor-input-field  {
    margin: 30px;
}
.width-25 {
    width: 25%;
}
#invoice-status {
    width: 100%;
}
.right1 {
    width: 100%;
}
.invoice-editor-btn-container {
    margin: 20px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
#invoice-edit-update , #invoice-edit-cancel {
    display: block;
    padding: 14px 28px;
    font-size: 1em;
    transition: all .4s;
    border: 0;
    cursor: pointer;
}
#invoice-edit-update  {
    background-color: #1e90ff;
    color: #fff;
}
#invoice-edit-cancel {
    background-color: #ccc;
    color: #000;
}
.margin-left-auto {
    margin-left: auto;
}